.add-note-form {

    label {
        display: block;
        margin-bottom: 5px;

        font-size: 22px;
    }

    &__header-input {
        height: 40px;
        width: 100%;
        padding: 0 10px;

        font-size: 18px;

        border: 1px solid #ddd;
    }

    &__textarea {
        width: 100%;
        height: 200px;
        padding: 10px 10px;
        resize: none;

        font-size: 18px;
        line-height: 1.15;

        border: 1px solid #ddd;
    }

    &__content-block {
        margin-top: 15px;
    }

    &__buttons-block {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    &__btn {
        height: 40px;
        width: 120px;

        text-transform: uppercase;

        outline: none;
        border: 1px solid #eee;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 0 1px 0 black;
    }

    &__btn:hover {
        background-color: #FEF4D7;
        cursor: pointer;
    }

    // Отступ между кнопками
    &__btn:first-child {
        margin-right: 15px;
    }

    &__btn--disabled:hover {
        background-color: white;

        cursor: auto;
    }

}
