.main-header {

    background-color: white;
    border-bottom: 1px solid #eee;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
    }



}
