.note {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 0 10px;

    border-bottom: 2px solid #eee;

    &__date {
        color: #aaa;
    }

    &:hover {
        background-color: darken(#fefeee, 3%);
        cursor: pointer;
    }

}