@keyframes slideInDown {
    from {
        margin-top: -1000px;
    }

    to {
        margin-top: 20px;
    }
}


@keyframes zoomIn {
    0% {
        transform: scale(0);
    }


    100% {
        transform: scale(1);
    }
}
